/* Formatea los mensajes Flash::xxx() de KumbiaPHP */

.flash {
    margin: 5px 0;
    min-height: 32px;
    padding: 3px 10px 3px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    line-height: 32px;
    border-radius: 2px;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.valid {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}