#scaffold table a {
    color: #333;
    font-weight: normal;
}

#scaffold table a:hover {
    color: #0ac;
    text-decoration: none;
}

#scaffold table {
    width: 100%
}

#scaffold th {
    text-align: left;
}

#scaffold caption {
    font-size: 2em;
    text-align: left;
}